@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("img/background/background.png");
    background-size: cover;
    height: 100vh;
    margin: 0;
    position: relative;
     
}


h1 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: rgb(50, 49, 49);
   
}


canvas {
   border-radius: 10px;
   

}