@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


html {
    overflow: hidden;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("img/background/background.png");
    background-size: cover;
    height: 100dvh;
    margin: 0;
    position: relative;
    overflow: hidden;
    touch-action: none;
}

.firstClickScreen {
    display: flex;
    justify-content: center;
    align-self: center;
    cursor: pointer;
}

.firstClick {
    position: absolute;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    z-index: 15;
}

.firstClickScreen p {
    position: absolute;
    z-index: 16;
    font-family: 'Lobster', cursive;
    font-size: 54px;
    color: rgb(50, 49, 49);
    margin-top: 400px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.intro {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
}

.buttonsMainMenu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 54px;
    z-index: 11;
    cursor: pointer I !important;
}

.buttonsMainMenu button {
    padding: 0px 60px !important;
    border-radius: 20px !important;
    cursor: pointer !important;
    opacity: 0;
    transform: translateY(-10px);
    animation: slideFromTop 2s ease-out forwards;
}

@keyframes slideFromTop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.buttonsMainMenu button p {
    font-size: 30px;
}

.infoOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 13;
}

.infoContent {
    background-color: #fff;
    color: rgb(50, 49, 49);
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
    font-family: 'Lobster', cursive;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.infoContent h2 {
    margin-bottom: 20px;
}

.infoContent ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.infoContent ul li {
    font-size: 18px;
    margin: 8px 0;
}


h1 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: rgb(50, 49, 49);

}

.gameContainer {
    position: relative;
    width: 720px;
    height: 480px;
}

canvas {
    border-radius: 10px;
    display: block;
    width: 720px;
    height: 480px;
}

.gameOver {
    background-image: url("img/9_intro_outro_screens/game_over/game over!.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 24px;
    box-sizing: border-box;
    gap: 24px;
    top: 0px;
    width: 720px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 48px;
    font-family: 'Bigfans', 'Arial';
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    border-radius: 10px;
}

.youWin {
    background-image: url("img/You won, you lost/You won A.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 24px;
    box-sizing: border-box;
    gap: 24px;
    top: 0px;
    width: 720px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 48px;
    font-family: 'Bigfans', 'Arial';
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    border-radius: 10px;
}

.button {
    background: linear-gradient(180deg, #FFCD00, #FF4500);
    color: rgb(50, 49, 49);
    font-size: 24px;
    font-weight: bold;
    padding: 12px 24px;
    border: 3px solid #953816;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background: linear-gradient(180deg, #FF4500, #8B0000);
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}

.pauseOverlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px;
    gap: 15px;
    right: 20px;

}

.pauseOverlay img {
    height: 30px;
    cursor: pointer;
}

.resumeOverlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 720px;
    height: 480px;
    border-radius: 10px;
}

.resumeOverlay img {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    cursor: pointer;
}

.resumeOverlay p {
    font-size: 54px;
    color: black;
    font-family: 'Lobster', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 110px;
}

.dNone {
    display: none;
}

.orientationMessage {
    position: fixed;
    inset: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    font-size: 30px;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    text-align: center;
    font-family: 'Lobster', cursive;
}

.orientationMessage img {
    width: 120px;
}


@media screen and (orientation: landscape) and (max-width: 1000px) {

    html,
    body {
        width: 100vw;
        height: 100dvh;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    @media screen and (orientation: landscape) {
        .firstClick {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .firstClickScreen p {
            margin-top: 200px;

        }
    }

    .intro {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .buttonsMainMenu button {
        padding: 0 10px !important;
    }

    .buttonsMainMenu button p {
        font-size: 22px;
    }

    #howToPlayOverlay,
    #impressumOverlay {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .infoContent {
        width: 90%;
        max-width: 600px;
        font-size: 16px;
        padding: 20px;
    }

    .infoContent h2 {
        font-size: 28px;
    }

    .infoContent ul li {
        font-size: 16px;
    }

    .infoContent button {
        font-size: 20px;
    }

    h1 {
        display: none;
    }

    .gameContainer {
        width: 100vw;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    canvas,
    .resumeOverlay,
    .youWin,
    .gameOver {
        width: 100vw;
        height: 100dvh;
        position: absolute;
        inset: 0;
        border-radius: 0;
    }

    .pauseOverlay {
        top: 10px;
        right: 10px;
        gap: 10px;
    }

    .pauseOverlay img {
        height: 25px;
    }

    .volumeIcon {
        height: 30px !important;
    }

    .resumeOverlay img {
        height: 100px;
        margin-top: -10px;
    }

    .resumeOverlay p {
        font-size: 32px;
        margin-bottom: 60px;
    }

    .button {
        font-size: 20px;
        padding: 16px 24px;
    }

    .mobileButtonsContainer {
        position: absolute;
        display: flex;
        gap: 600px;
        bottom: 1px;
    }

    .navButtons {
        display: flex;
        gap: 8px;
    }

    .navButtons img {
        width: 40px;
        height: 40px;
    }

    .actionButtons {
        gap: 24px;
    }

    .salsaButton {
        display: flex;
    }

    .upButton {
        width: 40px !important;
        margin-bottom: 8px;
    }

    .salsaBottle {
        position: absolute;
        width: 57px !important;
        bottom: 6px;
        z-index: 3;
        right: 75px;
    }

    canvas {
        z-index: 1;
    }

    .mobileButtonsContainer {
        z-index: 2;
    }

    .pauseOverlay {
        z-index: 3;
    }

    .resumeOverlay,
    .youWin,
    .gameOver {
        z-index: 4;
    }
}


@media screen and (orientation: landscape) and (max-width: 1000px) {
    .mobileButtonsContainer {
        gap: clamp(300px, 75vw, 650px);
    }

    .salsaBottle {
        right: clamp(48px, 4vw, 72px);
    }

    .navButtons {
        gap: clamp(8px, 3vw, 24px);
    }
}